.game-container {
  text-align: center;
  margin-top: 50px;
}

.game-screen {
  position: relative;
  width: 100%;
  height: 200px;
  border: 1px solid black;
  background-color: lightblue;
  overflow: hidden;
}

.dino {
  width: 8vw;
  height: 8vw;
  background-color: green;
  position: absolute;
  bottom: 010px;
  left: 5%;
  transition: bottom 0.2s;
}

.dino.jump {
  bottom: 80px;
}

.obstacle {
  font-size: 0.75rem;
  width: 10vw;
  height: 4vw;
  background-color: red;
  position: absolute;
  bottom: 010px;
  color: white;
}

.game-over {
  margin-top: 20px;
}

.game_button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008cba;
  color: white;
  border: none;
  cursor: pointer;
}

.game_button:hover {
  background-color: #005f5f;
}

/* Media Queries for Screen Sizes */
@media (min-width: 600px) {
  .dino {
    left: 7%;
  }

  .obstacle {
    font-size: 0.75rem;
    width: 8vw;
    height: 4vw;
  }
}

@media (min-width: 768px) {
  .dino {
    left: 8%;
  }
  .obstacle {
    font-size: 0.875rem;
    width: 5vw;
    height: 4vw;
  }
}

@media (min-width: 1024px) {
  .dino {
    left: 9%;
  }
  .game-screen {
    height: 300px;
  }
  .dino.jump {
    bottom: 100px;
  }
  .obstacle {
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .dino {
    left: 10.5%;
  }
  .game-screen {
    height: 500px;
  }
  .dino.jump {
    bottom: 120px;
  }
  .obstacle {
    font-size: 1.5rem;
  }
}
@media (min-width: 2560px) {
  .dino {
    left: 10.5%;
  }
  .game-screen {
    height: 700px;
  }
  .dino.jump {
    bottom: 160px;
  }
  .obstacle {
    font-size: 2.5rem;
  }
}
