@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient {
  background: linear-gradient(270deg, #ff0080, #7928ca, #4c4cfa);
  background-size: 600% 600%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
